{
  "name": "wuding/anfora",
  "description": "Class File Loader",
  "keywords": ["File", "ClassLoader", "Composer"],
  "license": "BSD-3-Clause",
  "authors": [
    {
      "name": "Benny Wu",
      "email": "contact@urlnk.com"
    }
  ],
  "autoload": {
    "psr-4": {
      "Anfora\\": "src/",
      "Func\\X\\": "E:/www/work/wuding/php-func/src/X/",
      "Func\\": "E:/www/work/wuding/php-func/src/"
    },
    "files": [
      "src/Anfora.php",
      "E:/www/work/wuding/php-func/src/Func.php"
    ]
  },
  "require": {
    "php": ">=5.4.0",
    "wuding/php-func": "^1.0.3"
  }
}
